<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <div class="body-overlay">
    <!-- ============ HEADER ============ -->
    <%- include('./partials/header.ejs')%>
      <!-- ============ MAIN ============ -->
      <h1>New Pokemon
      </h1>
      <main>
        <form action="/pokemons" method="POST">
          <!-- Name -->
          <div class="row">
            <div class="three columns">
              <label for="pokemonName">Pokemon Name</label>
              <input class="u-full-width" type="text" placeholder="Pokemon Name" name="name">
            </div>
          </div>
          <!-- Image URL -->
          <div class="row">
            <div class="three columns">
              <label for="pokemonImgUrl">Image Source URL</label>
              <input type="url" class="u-full-width" placeholder="image source" name="img">
            </div>
          </div>
          <!-- Type -->
          <div class="row">
            <div class="two columns">
              <label for="pokemonType">Type 1</label>
              <input class="u-full-width" type="text" placeholder="Grass" name="type0">
            </div>
            <div class="two columns">
              <label for="pokemonType">Type 2</label>
              <input class="u-full-width" type="text" placeholder="Poison" name="type1">
            </div>
            <div class="two columns">
              <label for="pokemonType">Type 3</label>
              <input class="u-full-width" type="text" placeholder="Fire" name="type2">
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <h5 id="form">Stats</h5>
            </div>
          </div>
          <!-- stats hp -->
          <div class="row">
            <div class="one columns">
              <label for="stats: hp">hp</label>
              <input class="u-full-width" type="text" placeholder="30" name="hp">
            </div>
            <!-- stats Attack -->
            <div class="one columns">
              <label for="stats: attack">attack</label>
              <input class="u-full-width" type="text" placeholder="50" name="attack">
            </div>
            <!-- stats defense -->
            <div class="one columns">
              <label for="stats: defense">defense</label>
              <input class="u-full-width" type="text" placeholder="12" name="defense">
            </div>
          </div>
          <div class="row">
            <div class="four columns">
              <input class="button-primary" type="submit" value="Submit">
              <div class="four columns">
                <a id="returnIndex" class="button button-primary" href="/pokemons">Cancel</a>
              </div>
            </div>
          </div><br />
        </form>
      </main>
      <!-- ============ FOOTER ============ -->
      <%- include('./partials/footer.ejs')%>
  </div>
</body>

</html>